[submodule "dkgroup-organization/erp-group/project_tag"]
	path = dkgroup-organization/erp-group/project_tag
	url = git@github.com:dkgroup-organization/erp-group.git
	branch = master

[submodule "abdelghani-khalidi/public/project_liaison"]
	path = abdelghani-khalidi/public/project_liaison
	url = git@github.com:abdelghani-khalidi/public.git
	branch = master

[submodule "abdelghani-khalidi/public/project_tag_2"]
	path = abdelghani-khalidi/public/project_tag_2
	url = git@github.com:abdelghani-khalidi/public.git
	branch = master

[submodule "abdelghani-khalidi/public/pos_orders_all"]
	path = abdelghani-khalidi/public/pos_orders_all
	url = git@github.com:abdelghani-khalidi/public.git
	branch = master
